<section class="section is-main-section">
  <div class="level">
    <div class="level-left"></div>
    <div class="level-right">
      <div class="level-item">
        <app-button
          class="mr-2"
          [title]="'Sort by Departure'"
          [icon]="'fa-plane-departure'"
          [color]="'is-info'"
          (clicked)="sortByTime('DepTime')"
        ></app-button>
        <app-button
          [title]="'Sort by Arrival'"
          [icon]="'fa-plane-arrival'"
          [color]="'is-info'"
          (clicked)="sortByTime('ArrTime')"
        ></app-button>
        
      </div>
    </div>
  </div>

  <div class="tile is-ancestor">
    <div
      class="tile is-parent"
      *ngFor="let result of results; index as ticketIndex"
    >
      <div class="tile is-child">
        <div class="card" style="border-radius: 16px !important">
          <div
            class="has-background-info"
            style="padding: 16px; border-radius: 0 0 16px 16px"
          >
            <app-level [fontColor]="'has-text-white'" [showArrow]="true">
              <span slot="leftTitle">
                {{ result.DepStationCodeFull }}
              </span>

              <span slot="leftSubTitle">
                Dep: {{ formatTime(result.DepTime) }}
              </span>

              <span slot="rightTitle">
                {{ result.ArrStationCodeFull }}
              </span>

              <span slot="rightSubTitle">
                Arr: {{ formatTime(result.ArrTime) }}
              </span>
            </app-level>
          </div>
          <div class="card-content">
            <h5 class="title is-5">Route Details:</h5>

            <app-level>
              <span slot="leftTitle"> Total Stops </span>

              <span slot="leftSubTitle">
                {{ result.TotalStops }}
              </span>

              <span slot="rightTitle"> Supplier </span>

              <span slot="rightSubTitle">
                {{ result.Supplier }}
              </span>
            </app-level>

            <!-- Leg info -->
            <app-level *ngFor="let leg of result.Legs">
              <span slot="leftTitle"> {{ leg.DepStnFull }} </span>

              <span slot="leftSubTitle">
                Dep: {{ formatTime(leg.DepTime) }}
              </span>

              <span slot="rightTitle"> {{ leg.ArrStnFull }} </span>

              <span slot="rightSubTitle">
                Arr: {{ formatTime(leg.ArrTime) }}
              </span>
            </app-level>

            <!-- Ticket Pricing -->

            <app-level>
              <span slot="leftTitle"> Available Tickets: </span>

              <span slot="rightTitle">
                <app-button
                  [title]="showTickets[ticketIndex] ? 'hide' : 'show'"
                  [color]="'is-info'"
                  (clicked)="showTicketSection(ticketIndex)"
                ></app-button>
              </span>
            </app-level>

            <div
              class="box has-background-light"
              *ngIf="showTickets[ticketIndex]"
            >
              <app-level *ngFor="let ticket of result.Legs[0].TKTs">
                <span slot="leftTitle"> {{ ticket.TicketDescription }} </span>

                <span slot="rightTitle">
                  <app-button
                    [title]="'£' + ticket.AdtPrice"
                    [color]="'is-primary'"
                  ></app-button>
                </span>
              </app-level>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
