<section class="section is-main-section">
  <div class="level">
    <div class="level-left"></div>
    <div class="level-right">
      <div class="level-item">
        <button class="button is-info mr-2" (click)="sortByTime('DepTime')">
          <span class="icon">
            <i class="fas fa-plane-departure"></i>
          </span>
          <span>Sort by Depature</span>
        </button>
        <button class="button is-info" (click)="sortByTime('ArrTime')">
          <span class="icon">
            <i class="fas fa-plane-arrival"></i>
          </span>
          <span>Sort by Arrival </span>
        </button>
      </div>
    </div>
  </div>

  <div class="tile is-ancestor">
    <div
      class="tile is-parent"
      *ngFor="let result of results; index as ticketIndex"
    >
      <div class="tile is-child">
        <div class="card" style="border-radius: 16px !important">
          <div
            class="has-background-info"
            style="padding: 16px; border-radius: 0 0 16px 16px"
          >
            <div class="level">
              <div class="level-left">
                <div class="level-item has-text-centered">
                  <article>
                    <strong class="has-text-white">{{
                      result.DepStationCodeFull
                    }}</strong
                    ><br />
                    <div class="subtitle has-text-white">
                      Dep: {{ formatTime(result.DepTime) }}
                    </div>
                  </article>
                </div>
              </div>

              <div class="level-item has-text-white">
                <i class="fas fa-arrow-right"></i>
              </div>

              <div class="level-right">
                <div class="level-item has-text-centered">
                  <article>
                    <strong class="has-text-white">{{
                      result.ArrStationCodeFull
                    }}</strong
                    ><br />
                    <div class="subtitle has-text-white">
                      Arr: {{ formatTime(result.ArrTime) }}
                    </div>
                  </article>
                </div>
              </div>
            </div>
          </div>
          <div class="card-content">
            <h5 class="title is-5">Route Details:</h5>
            <div class="level">
              <div class="level-left">
                <div class="level-item">
                  <article>
                    <strong>Total Stops</strong>
                    <div>{{result.TotalStops}}</div>
                  </article>
                </div>
              </div>

              <div class="level-right">
                <div class="level-item">
                  <article>
                    <strong>Supplier</strong>
                    <div>{{result.Supplier}}</div>
                  </article>
                </div>
              </div>
            </div>
            <!-- Leg info -->
            <div class="level" *ngFor="let leg of result.Legs">
              <div class="level-left">
                <div class="level-item">
                  <article>
                    <strong>
                      {{ leg.DepStnFull }}
                    </strong>
                    <div>Dep: {{ formatTime(leg.DepTime) }}</div>
                  </article>
                </div>
              </div>

              <div class="level-right">
                <div class="level-item has-text-right">
                  <article>
                    <strong>
                      {{ leg.ArrStnFull }}
                    </strong>
                    <div>Arr: {{ formatTime(leg.ArrTime) }}</div>
                  </article>
                </div>
              </div>
            </div>

            <!-- Ticket Pricing -->

            <div class="level">
              <div class="level-left">
                <div class="level-item">
                  <h5 class="title is-5">Available Tickets:</h5>
                </div>
              </div>

              <div class="level-right">
                <div class="level-item">
                  <button
                    class="button is-info"
                    (click)="showTicketSection(ticketIndex)"
                  >
                    {{ showTickets[ticketIndex] ? "Hide" : "Show" }}
                  </button>
                </div>
              </div>
            </div>

            <div
              class="box has-background-light"
              *ngIf="showTickets[ticketIndex]"
            >
              <div class="level" *ngFor="let ticket of result.Legs[0].TKTs">
                <div class="level-left">
                  <div class="level-item">
                    <article>
                      <strong>{{ ticket.TicketDescription }}</strong>
                      <div></div>
                    </article>
                  </div>
                </div>

                <div class="level-right">
                  <div class="level-item">
                    <button class="button is-primary">
                      £{{ ticket.AdtPrice }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
